div.history-header {
  display: flex;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-vector/mandala-illustration_53876-80593.jpg');
  background-size: contain;

  div.menu-btn {
    position: absolute;
    left: 0;
  }
}
