.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 6px;
  padding: 4px;
  margin: 8px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
    transition: 0.2s;
  }
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(#252525, 0.35);
  font-weight: bolder;
  width: 100vw;
  height: 100vh;

  .bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 205px;
    height: 100%;
    background-image: url('https://res.cloudinary.com/rugstudio-com/image/upload/f_auto%2Cq_auto%2Ce_trim:15/files/productimages/safavieh/l_cl239d.jpg');
    background-size: contain;
    position: absolute;
    left: -185px;
    top: 0;
    z-index: 4;
    color: white;

    .header-wrapper {
      display: flex;
      align-items: center;

      .x {
        margin: 0 0 2px 16px;
        font-size: 42px;
        cursor: pointer;
      }
    }

    .links-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;

      .link {
        margin: 8px;
        cursor: pointer;
      }
    }

    animation: 0.2s showBar forwards;
  }
}

@keyframes showBar {
  from {
    left: -185px;
  }

  to {
    left: 0;
  }
}
