.list-el-wrapper {
  display: flex;
  position: relative;
  background: linear-gradient(158deg, rgba(207, 133, 5, 1) 15%, rgba(255, 255, 255, 1) 50%, rgba(0, 152, 2, 1) 85%);
  padding: 8px;
  margin: 16px;

  img {
    object-fit: cover;
    width: 118px;
    height: 118px;
    padding: 16px;
    background-color: white;
  }

  .list-el {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 150px;
    background-color: white;

    div {
      display: flex;
      flex-direction: row;

      h2 {
        margin: 8px;
      }

      p {
        margin: 12px;
      }
    }
  }
}
