.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 32px);
  height: 90px;
  background: linear-gradient(158deg, rgba(207, 133, 5, 1) 15%, rgba(255, 255, 255, 1) 50%, rgba(0, 152, 2, 1) 85%);
  padding: 16px;
  color: white;

  .header-title,
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
    }
  }

  input {
    width: 300px;
    height: 30px;
    border-radius: 2px;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 2px solid orange;
    }
  }
}

@media only screen and (max-width: 890px) {
  .header {
    font-size: 16px;
    text-align: center;
  }
}

@media only screen and (max-width: 660px) {
  .header {
    font-size: 10px;

    div {
      img {
        width: 70px;
        height: 70px;
      }
    }

    input {
      width: 220px;
    }
  }
}

@media only screen and (max-width: 390px) {
  .header {
    justify-content: space-around;
    padding: 4px;
    width: calc(100% - 4px);

    input {
      width: 150px;
    }
  }
}
