.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 32px);
  height: 90px;
  padding: 16px;
  color: white;

  .header-title,
  .wrapper-left,
  .wrapper-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .save-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: 4px solid green;
      background-color: white;
      color: #101010;
      margin: 8px;
      padding: 4px;
      font-size: 14px;
      cursor: pointer;

      &:not(.disabled):hover {
        transition: 0.35s;
        transform: scale(1.05);
      }
    }

    .disabled {
      filter: grayscale(70%);
      opacity: 0.7;
      border: 4px solid gray;
    }

    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
    }
  }

  .wrapper-right {
    gap: 16px;
  }

  input {
    width: 300px;
    height: 30px;
    border-radius: 2px;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 2px solid orange;
    }
  }
}
